// BUTTON

.c-button {
  @include button;
  @include buttonHover(scale(1.05), $opacity);

  &.form__submit-button:hover {
    @include buttonHover(scale(1.02), 1);
  }
}

.c-button--block {
  width: 100%;
  font-size: 1.2rem;
  margin: 0;
}

.c-button--inline {
  width: 220px;
  justify-content: center;
}

.c-button--primary {
  @include colorPattern($white, $primary-color, unset);
}

.c-button--secondary {
  @include colorPattern($white, $secondary-color-dark, unset);
}

.c-button--dark {
  @include colorPattern($white, $primary-color, $box-shadow);
  border-radius: 6.28148px;
}
