// BUTTON

.button {
  @include buttonDefault;

  &.form__submit-button:hover {
    transform: scale(1.02);
    opacity: 1;
  }
}

.button--block {
  width: 100%;
  font-size: 1.2rem;
  margin: 0;
}

.button--inline {
  width: 220px;
  justify-content: center;
}

.button--primary {
  @include colorPattern($white, $primary-color, unset);
}

.button--secondary {
  @include colorPattern($white, $secondary-color-dark, unset);
}

.button--modal {
  @include colorPattern($white, $primary-color, $box-shadow);
  border-radius: 6.28148px;
}
