// ANCHOR TAGS DEFAULT
a {
  text-decoration: none;

  &:-webkit-any-link:focus-visible {
    outline-offset: 0;
  }
  &:hover {
    opacity: $opacity;
  }
}

// SCROLL DOWN COMPONENT (ONLY AVAILABLE IN TABLET VERSION FOR CURRENT DESIGN)
.c-scroll-down {
  @include colorPattern($white, $black-opacity, unset);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  bottom: 10%;
  display: none;

  a {
    font-size: 26px;
    color: $white;
  }
}
