// ANCHOR TAGS DEFAULT
a {
  text-decoration: none;

  &:-webkit-any-link:focus-visible {
    outline-offset: 0;
  }
  &:hover {
    opacity: $opacity;
  }
}

// TAP TO BOTTOM - LINK (ONLY AVAILABLE IN TABLET VERSION FOR CURRENT DESIGN)
.to-bottom__arrow {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  bottom: 5%;
  background: $black-opacity;
  color: $white;
  display: none;

  a {
    font-size: 26px;
    color: $white;
  }
}
