// MENU SECTION

.c-menu {

  &__title {
    @include  textStyle( 33px, 400, $white, $roboto, 45px, none, unset, none);
    margin-bottom: 3.5rem;

    &::after {
      content: "";
      display: block;
      border-top: 0.3rem solid $secondary-color-dark;
      width: 3rem;
      margin: 0 auto;
      -webkit-transform: translateY(1.5rem);
      transform: translateY(0.5rem);
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 463px;

    & div:last-child > div:last-child,
    & div:last-child {
      border-bottom: none;
    }

    .c-dish {
      padding: 1.5rem 1rem;
      margin-bottom: 0.3rem;
      border-bottom: 1px solid $gray-medium-opacity;

      &__title {
        @include textStyle(24px, 400, $white, $roboto, 32px, none, unset, $capitalize);
        margin-bottom: 1rem;
      }

      &__ingredient {
        @include textStyle(21px, 200, $gray-medium, $catamaran, 140%, none, unset, $capitalize);
        opacity: $opacity;
        margin-bottom: 1rem;
      }

      &__price {
        @include textStyle(26px, 400, $gray-extra-light, $catamaran, 43px, none, unset, $capitalize);
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }
}
