//  SLIDER

.slider {
  &__header {
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 450px;
    margin: 2rem auto;

    &-img {
      height: auto;
      margin-bottom: 2rem;

      img {
        display: block;
        height: auto;
        width: 100%;
        max-width: 100%;
      }
    }

    &-title {
      @include textStyle(30px, 400, $white, $roboto, 40px, none, none, none);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-description {
      @include textStyle(20px, 400, $gray-light, inherit, 130%, none, none, none);
      text-align: center;
      margin: 2rem auto;
    }

    &-price {
      @include textStyle(30px, 500, $white, $catamaran,130%, none, none, none);
      text-align: center;
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      cursor: $pointer;
    }

    & > span {
      @include textStyle(23px, 200, $white, $catamaran, 39px, none, none, none);
      padding: 0 1.4rem;
      text-align: center;
    }
  }
}

// ACTIVE SLIDE NUMBER
.active-slider {
  color: $secondary-color-dark;
}

// DEACTIVE SLIDE NUMBER
.deactive-slider {
  color: $white;
}
