// TABS

  .c-tabs {
    @include  textStyle(24px, 200, $white, $catamaran, 39px, 0.02em, unset, uppercase);

    &__tab {
      display: block;
      cursor: $pointer;
      margin: 0.2rem auto;

      &.is-open {
        color: $secondary-color-dark;
      }

      p {
        margin: 0 auto;
        border-bottom: 1px dashed $gray-light;
      }
    }

    &__tab-content{
      display: none;

      &.is-open {
        display: flex;
        flex-direction: column;
      }
    }
  }
