// Footer

footer {
  text-align: center;
  padding: 40px 0;
  p {
    color: $gray-extra-light;
    font-size: 18px;
    font-weight: 200;
    line-height: 120%;
    width: auto;
    max-width: 312px;
    margin: 0 auto;
    text-align: center;
  }
}
