// Footer

.c-footer {
  padding: 40px 0;

  .c-copyright {

    &__description{
      @include textStyle(18px, 200, $gray-extra-light, $catamaran, 120%, none, unset, none);
      max-width: 312px;
      margin: 0 auto;
    }
  }
}
