// FORM

.booking-section__form-container {
  position: relative;

  .form-group {
    padding-top: 0.75rem;
  }

  label {
    text-transform: uppercase;
    font-family: $catamaran;
    font-weight: 200;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: $uppercase;
    color: $gray-extra-light;
    margin-bottom: 0.5rem;
  }

  input {
    font-family: $catamaran;
    color: $white;
    font-weight: 100;
    font-size: 18px;
    display: block;
    outline: 0;
    width: 100%;
    height: 49px;
    background: $white-medium-opacity;
    border: 1px solid $white-high-opacity;
    padding: 0.7rem;

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
      color: $white;
      opacity: 0.5;
      font-size: 20px;
    }
  }

  //Counter Box

  .counter-container {
    color: $gray-extra-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 0;
    width: 100%;
    height: 49px;
    background: $white-medium-opacity;
    border: 1px solid $white-high-opacity;
    padding: 0.7rem 1rem;

    .decrement-wrapper,
    .increment-wrapper {
      cursor: pointer;
      span {
        font-size: 31px;
      }
    }

    .counter-divs {
      height: 32px;
    }

    input {
      color: $gray-extra-light;
      font-weight: 400;
      width: 50px;
      font-size: 22px;
      height: 100%;
      line-height: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: transparent;
      z-index: 1;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
    }
  }
}

// VALIDATION STYLES

.active-form {
  display: block !important;
}

.text-danger {
  color: $secondary-color-dark;
  display: inline-block;
  margin: 0.4rem 0;
}

.alert-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: $gray-dark;
}

.toggle-form-alert {
  display: flex;
}

.alert {
  color: $white;
  width: 90%;
  max-width: 431px;
  height: auto;
  text-align: center;
  background-color: $gray-dark;
  display: none;
  padding: 2rem;
  z-index: 1000;

  &-header {
    margin-bottom: 2rem;

    &__icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $alert-gray-dark;
      border: 2px solid $alert-gray-medium;
      i {
        font-size: 50px;
        font-weight: 200;
        &.fa-times {
          color: $reject;
        }
        &.fa-check {
          color: $success;
        }
      }
    }
  }
  &-content {
    margin: 2rem auto;

    h3 {
      color: $white;
      font-family: $roboto;
      font-weight: 300;
      font-size: 26px;
      line-height: 201.87%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      color: $gray-extra-light;
      font-family: $catamaran;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 140.4%;
      text-align: center;
    }
  }

  &-footer {
    height: auto;

    button {
      background: $primary-color;
      box-shadow: 0px 3.14074px 3.14074px $black-opacity-low;
      border-radius: $border-radius-medium;
      border-radius: 6.28148px;
    }
  }
}
