/* HEADER */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: auto;
  max-width: 1208px;
  margin: 0 auto;
  top: 0.5%;
  z-index: 10;
  right: 6%;
  left: 6%;

  &__logo {
    height: 78px;
    width: 143px;
  }

  @include mq(md) {
    top: 1%;
    flex-direction: column;
    align-items: center;
    &__logo {
      width: 237px;
      height: 130px;
    }
  }
  @include mq(lg) {
    align-items: end;
    flex-direction: row;

    &__logo {
      width: 208px;
      height: 113px;
    }
  }
}
