//  SLIDER

.slider {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 450px;
    margin: 2rem auto;

    &-img {
      height: auto;
      margin-bottom: 2rem;

      img {
        display: block;
        height: auto;
        width: 100%;
        max-width: 100%;
      }
    }

    &-title {
      color: $white;
      font-family: "RobotoSlab";
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-description {
      color: $gray-light;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      margin: 2rem auto;
    }

    &-price {
      color: $white;
      font-family: "Catamaran";
      font-weight: 500;
      font-size: 30px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      cursor: pointer;
    }
    span {
      font-family: "Catamaran";
      font-size: 23px;
      font-weight: 200;
      padding: 0 1.4rem;
      line-height: 39px;
      text-align: center;
    }
  }
}

@media (768px <= width <= 991.8px) {
  .slider {
    &__content {
      width: 100%;
      max-width: 647px;
      margin-bottom: 0;

      &-container {
        padding: 1rem 0 1.5rem 1.5rem;
        max-width: 460px;
      }

      &-title {
        font-size: 31px;
        line-height: 45px;
        text-align: left;
        justify-content: flex-start;
      }

      &-description {
        font-size: 22px;
        line-height: 130%;
        text-align: left;
      }

      &-price {
        font-size: 30px;
        line-height: 130%;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .slider {
    &__header {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      width: auto;
      max-width: 100%;
      flex-direction: row;
      margin: 4rem auto 0;

      &-container {
        margin-left: 40px;
        vertical-align: middle;
        display: flex;
        vertical-align: middle;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
      }

      &-title {
        font-size: 29px;
        line-height: 42px;
        display: flex;
        align-items: flex-end;
        text-align: left;
      }

      &-description {
        font-size: 20px;
        line-height: 130%;
        text-align: left;
        margin: 1rem auto;
      }

      &-price {
        font-size: 28px;
        text-align: left;
      }

      &-img {
        width: 584px;
        height: auto;
        margin-bottom: 0rem;

        img {
          width: 584px;
          max-width: 584px;
        }
      }
    }

    &__arrows {
      display: flex;
      justify-content: space-around;
      align-items: center;
      span {
        font-size: 21px;
        padding: 0 0.5rem;
        line-height: 39px;
      }
      img {
        width: 30px;
      }
    }
  }
}

// @media (992px <= width <= 1199px) {
//   .slider {
//     &__content-img {
//       width: 400px;
//       height: auto;
//       margin-bottom: 0rem;

//       img {
//         width: 400px !important;
//         max-width: 400px;
//       }
//     }
//   }
// }
