//  SLIDER

.slider {
  &__header {
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 450px;
    margin: 2rem auto;

    &-img {
      height: auto;
      margin-bottom: 2rem;

      img {
        display: block;
        height: auto;
        width: 100%;
        max-width: 100%;
      }
    }

    &-title {
      color: $white;
      font-family: $roboto;
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-description {
      color: $gray-light;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      margin: 2rem auto;
    }

    &-price {
      color: $white;
      font-family: $catamaran;
      font-weight: 500;
      font-size: 30px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      cursor: $pointer;
    }

    & > span {
      font-family: $catamaran;
      font-size: 23px;
      font-weight: 200;
      padding: 0 1.4rem;
      line-height: 39px;
      text-align: center;
    }
  }
}

// ACTIVE SLIDE NUMBER
.active-slider {
  color: $secondary-color-dark;
}

// DEACTIVE SLIDE NUMBER
.deactive-slider {
  color: $white;
}
