//  SLIDER

.slider {
  &__header {
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 450px;
    margin: 2rem auto;

    &-img {
      height: auto;
      margin-bottom: 2rem;

      img {
        display: block;
        height: auto;
        width: 100%;
        max-width: 100%;
      }
    }

    &-title {
      color: $white;
      font-family: $roboto;
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-description {
      color: $gray-light;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      margin: 2rem auto;
    }

    &-price {
      color: $white;
      font-family: $catamaran;
      font-weight: 500;
      font-size: 30px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      cursor: $pointer;
    }

    & > span {
      font-family: $catamaran;
      font-size: 23px;
      font-weight: 200;
      padding: 0 1.4rem;
      line-height: 39px;
      text-align: center;
    }
  }

  // TABLET FORMAT STYLES
  @include mq(md, lg) {
    &__header {
      flex-direction: column;
    }
    &__content {
      width: 100%;
      max-width: 647px;
      margin-bottom: 0;

      &-container {
        padding: 1rem 0 1.5rem 1.5rem;
        max-width: 460px;
      }

      &-title {
        font-size: 31px;
        line-height: 45px;
        text-align: left;
        justify-content: flex-start;
      }

      &-description {
        font-size: 22px;
        line-height: 130%;
        text-align: left;
      }

      &-price {
        font-size: 30px;
        line-height: 130%;
        text-align: left;
      }
    }
  }

  // MINI DESKTOP FORMAT STYLES BETWEEN 992PX & 1300PX
  @include mq(lg, wide) {
    &__header {
      flex-direction: row !important;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      width: auto;
      max-width: 100%;
      flex-direction: row;
      margin: 4rem auto 0;
      min-height: max-content;

      &-container {
        margin-left: 0;
        padding-left: 40px;
        vertical-align: middle;
      }

      &-title {
        font-size: 27px;
        line-height: 42px;
        text-align: left;
        align-items: flex-end;
        justify-content: flex-start;
      }

      &-description {
        font-size: 19px;
        line-height: 130%;
        text-align: left;
        margin: 1rem auto;
      }

      &-price {
        font-size: 26px;
        text-align: left;
      }

      &-img {
        height: 100%;
        width: auto;
        margin-bottom: 0rem;
        padding: 0;
        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    &__arrows {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & > span {
        font-size: 21px;
        padding: 0 0.5rem;
        line-height: 39px;
      }
      img {
        width: 30px;
      }
    }
  }

  // DESKTOP FORMAT  GREATER THAN 1300PX
  @include mq(wide) {
    &__header {
      flex-direction: row !important;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      width: auto;
      max-width: 100%;
      flex-direction: row;
      margin: 4rem auto 0;

      &-container {
        margin-left: 0;
        padding-left: 40px;
        vertical-align: middle;
      }

      &-title {
        font-size: 29px;
        line-height: 42px;
        align-items: flex-end;
        text-align: left;
        justify-content: flex-start;
      }

      &-description {
        font-size: 20px;
        line-height: 130%;
        text-align: left;
        margin: 1rem auto;
      }

      &-price {
        font-size: 28px;
        text-align: left;
      }

      &-img {
        width: 100%;
        height: auto;
        margin-bottom: 0rem;
        padding: 0;

        img {
          width: 100%;
          max-width: 584px;
        }
      }
    }

    &__arrows {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & > span {
        font-size: 21px;
        padding: 0 0.5rem;
        line-height: 39px;
      }
      img {
        width: 30px;
      }
    }
  }
}

// ACTIVE SLIDE NUMBER
.active-slider {
  color: $secondary-color-dark;
}

// DEACTIVE SLIDE NUMBER
.deactive-slider {
  color: $white;
}
