.u-display--block {
  display: block;
}
.u-display--none {
  display: none;
}
.u-display--table {
  display: table;
}
.u-display--grid {
  display: grid;
}
.u-display--inline {
  display: inline;
}
.u-display--inline-block {
  display: inline-block;
}
.u-display--inline-table {
  display: inline-table;
}
