.u-block {
  display: block;
}
.u-none {
  display: none;
}
.u-table {
  display: table;
}
.u-grid {
  display: grid;
}
.u-inline {
  display: inline;
}
.u-inline-block {
  display: inline-block;
}
.u-inline-table {
  display: inline-table;
}
