
// PADDING AND MARGIN

$spaceamounts: (1, 2, 3, 4, 5, 6, 7, 8);
@each $space in $spaceamounts {
  .u-m-#{$space} {
    margin: #{$space}rem;
  }
  .u-my-#{$space} {
    margin: #{$space}rem 0;
  }
  .u-mx-#{$space} {
    margin: 0 #{$space}rem;
  }
  .u-p-#{$space} {
    padding: #{$space}rem;
  }
  .u-py-#{$space} {
    padding: #{$space}rem 0;
  }
  .u-px-#{$space} {
    padding: 0 #{$space}rem;
  }
}
