.u-text--center {
  text-align: center;
}

.u-text--left {
  text-align: left;
}

.u-text--right {
  text-align: right;
}

.u-text--end {
  text-align: end;
}

.u-text--justify {
  text-align: justify;
}

.u-text--start {
  text-align: start;
}

.u-text--inherit {
  text-align: inherit;
}

.u-text--initial {
  text-align: initial;
}

.u-text--unset {
  text-align: unset;
}
