// TOOLS
@import "../../node_modules/normalize.css/normalize";
@import "tools/_mq";
@import "tools/tools.aliases";

// SETTINGS
@import "settings/_settings.global";
@import "settings/_fonts.scss";

// ELEMENTS
@import "elements/_mixins.scss";
@import "elements/_var.scss";
@import "elements/_ie.scss";
@import "elements/_defaults.scss";
@import "elements/_misc.scss";

// OBJECTS
@import "objects/_row.scss";
@import "objects/_wrapper.scss";
@import "objects/_section.scss";
@import "objects/_container.scss";

//FONTAWESOME
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

// COMPONENTS
@import "components/_button.scss";
@import "components/_link.scss";
@import "components/_hero.scss";
@import "components/_navbar.scss";
@import "components/_modal.scss";
@import "components/_tab.scss";
@import "components/_slider.scss";
@import "components/_menu.scss";
@import "components/_book.scss";
@import "components/_form.scss";
@import "components/_counter.scss";
@import "components/_section.scss";

// PARTIALS
@import "partials/_header.scss";
@import "partials/_footer.scss";

// UTILITIES
@import "utilities/_display.scss";
@import "utilities/_action.scss";
@import "utilities/_flex.scss";
@import "utilities/_position.scss";
@import "utilities/_spacing.scss";
@import "utilities/_text.scss";
@import "utilities/_width.scss";

// MEDIA QUERIES
@import "settings/_mq";
