// TOOLS
@import "../../node_modules/normalize.css/normalize";
@import "tools/_mq";
@import "tools/tools.aliases";

// SETTINGS
@import "settings/_settings.global";
@import "settings/_fonts.scss";

// ELEMENTS
@import "elements/_mixins.scss";
@import "elements/_var.scss";
@import "elements/_ie.scss";
@import "elements/_defaults.scss";
@import "elements/_misc.scss";

// OBJECTS
@import "objects/_row.scss";
@import "objects/_wrapper.scss";
@import "objects/_section.scss";
@import "objects/_container.scss";

//FONTAWESOME
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

// COMPONENTS
//
// Build and include your project’s UI components here.
//----------------------------------*\

// Components
@import "components/_button.scss";
@import "components/_link.scss";
@import "components/_hero.scss";
@import "components/_navbar.scss";
@import "components/_modal.scss";
@import "components/_tab.scss";

//----------------------------------*/
@import "components/_section.scss";

// PARTIALS
@import "partials/_header.scss";
@import "partials/_menu.scss";
@import "partials/_slider.scss";
@import "partials/_form.scss";
@import "partials/_footer.scss";

// UTILITIES
@import "utilities/_display.scss";
@import "utilities/_flex.scss";
@import "utilities/_position.scss";
@import "utilities/_spacing.scss";
@import "utilities/_text.scss";
@import "utilities/_width.scss";

// Mobile-First  Approach

/*  MAIN SECTION CONTENTS */


.is-hidden{
  display: none;
}
.is-visible {
  display: block;
}
//STOPS PAGE FROM SCROLLING WHEN MODALS, BURGER MENU ETC. ARE OPEN
.is-unscrollable {
  overflow: hidden;
}

// BOOKING  SECTION

.booking-section {
  background: $black url("../images/landing/booking-bg.webp") center/cover
    no-repeat;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form-container {
      @include colorPattern($gray-extra-light, $gray-dark, $box-shadow-dark);
      width: 100%;
      max-width: 463px;
      margin: 0.5rem auto 0;
      padding: 65px 25px;
      border-radius: $border-radius;
      border: 1px solid $gray-light-opacity;

      input{
        text-transform: none;
        color: $gray-extra-light;

        &::placeholder{
          color: transparent;
          text-transform: none;
        }
      }
    }

  &__title {
    @include textStyle(34px, 400, $white, $roboto, 120%, none,  $text-shadow-light, none);
    text-align: center;
    margin: 3rem auto;
    width: -moz-fit-content;
    width: fit-content;

    &::after {
      content: "";
      display: block;
      border-top: 0.3rem solid $secondary-color-dark;
      width: 3rem;
      margin: 0 auto;
      -webkit-transform: translateY(1.5rem);
      transform: translateY(0.5rem);
    }
  }

  &__description {
    @include textStyle( 21px, 200, $white, $catamaran, 140%, none, $text-shadow-light, none);
    text-align: center;
    margin: 1rem auto 4rem auto;
    padding: 0.5rem 1rem;
    width: auto;
    max-width: 376px;
  }
}

// POPULAR DISHES SECTION

.popular-dishes-section {
  margin: 3rem auto;
}

.popular-dishes {
  border-radius: 3px;
  background-color: $gray-dark;
  border: 1px solid $gray-light;
  margin: 0rem auto;
  padding: 4rem 1rem 1rem 1rem;

  &__content {
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include textStyle(32px, 400, $white, $roboto, 45px, none, unset, none);
    text-align: center;
    margin-bottom: 3.5rem;

    &::after {
      content: "";
      display: block;
      border-top: 0.3rem solid $secondary-color-dark;
      width: 3rem;
      margin: 0 auto;
      -webkit-transform: translateY(1.5rem);
      transform: translateY(0.5rem);
    }
  }
}

// MEDIA QUERIES
@import "settings/_mq";
