// TOOLS
@import "../../node_modules/normalize.css/normalize";
@import "tools/_mq";
@import "tools/tools.aliases";

// SETTINGS
@import "settings/_settings.global";
@import "settings/_fonts.scss";

// ELEMENTS
@import "elements/_var.scss";
@import "elements/_ie.scss";
@import "elements/_defaults.scss";
@import "elements/_misc.scss";

// OBJECTS
//
@import "objects/_row.scss";
@import "objects/_section.scss";

//FONTAWESOME
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

// COMPONENTS
//
// Build and include your project’s UI components here.
//----------------------------------*\
// Components
//----------------------------------*/
@import "components/_section.scss";
@import "components/_button.scss";
@import "components/_link.scss";

// PARTIALS
@import "partials/_header.scss";
@import "partials/_navbar.scss";
@import "partials/_slider.scss";
@import "partials/_form.scss";
@import "partials/_footer.scss";

// UTILITIES
@import "utilities/_flex.scss";

// Mobile-First  Approach

/*  MAIN SECTION CONTENTS */

// HERO SECTION

.hero-section {
  padding: 1.4rem;
  position: relative;
  display: flex;
  align-items: center;
  background: $black url("../images/landing/mobile-hero-bg.webp") center / cover
    no-repeat;
  height: 100vh;
}

.hero-wrapper {
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1208px;
  height: 100%;
  position: relative;

  .hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    &__title {
      color: $white;
      font-size: 35px;
      font-weight: 500;
      line-height: 120%;
      text-align: center;
      text-shadow: $text-shadow-medium;
      margin: 0 auto 1rem;
      width: auto;
      max-width: 312px;
    }

    &__description {
      color: $white;
      font-size: 19px;
      font-weight: 100;
      line-height: 39px;
      opacity: 0.9;
      text-align: center;
      margin-bottom: 5rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__cta {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
}

// BOOKING  SECTION

.booking-section {
  background: $black url("../images/landing/booking-bg.webp") center/cover
    no-repeat;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $white;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    text-align: center;
    text-shadow: $text-shadow-light;
    margin: 3rem auto;
    width: -moz-fit-content;
    width: fit-content;

    &::after {
      content: "";
      display: block;
      border-top: 0.3rem solid $secondary-color-dark;
      width: 3rem;
      margin: 0 auto;
      -webkit-transform: translateY(1.5rem);
      transform: translateY(0.5rem);
    }
  }

  &__description {
    color: $white;
    font-weight: 200;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    text-shadow: $text-shadow-light;
    margin: 1rem auto 4rem auto;
    padding: 0.5rem 1rem;
    width: auto;
    max-width: 376px;
  }

  &__form-container {
    width: 100%;
    max-width: 463px;
    margin: 0.5rem auto 0;
    padding: 65px 25px;
    border-radius: $border-radius;
    border: 1px solid $gray-light-opacity;
    background-color: $gray-dark;
    box-shadow: $box-shadow-dark;
  }
}

// MENU SECTION

.menu-section {
  &__container {
    border-radius: $border-radius;
    background-color: $gray-dark;
    border: 1px solid $gray-light;
    margin: 0rem auto;
    padding: 6rem 2rem 3rem 2rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu__title {
    color: $white;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 3.5rem;

    &::after {
      content: "";
      display: block;
      border-top: 0.3rem solid $secondary-color-dark;
      width: 3rem;
      margin: 0 auto;
      -webkit-transform: translateY(1.5rem);
      transform: translateY(0.5rem);
    }
  }

  .menu__tabs {
    font-family: "Catamaran";
    font-weight: 200;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu__tab {
      display: block;
      cursor: pointer;
      padding: 1rem;
      margin: 0.2rem auto;

      &.active-tab {
        color: $secondary-color-dark;
      }

      p {
        width: auto;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px dashed $gray-light;
      }
    }
  }

  &__body {
    width: 100%;
    margin: 0 auto;
    max-width: 463px;

    .tab-content {
      display: none;
      &.active-tab {
        display: flex;
        flex-direction: column;
      }
    }

    & div:last-child > div:last-child,
    & div:last-child {
      border-bottom: none;
    }

    .food {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 1rem;
      text-align: center;
      margin-bottom: 0.3rem;
      border-bottom: 1px solid $gray-medium-opacity;

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-transform: $capitalize;
        margin-bottom: 1rem;
      }

      &__ingredient {
        color: $gray-medium;
        opacity: $opacity;
        font-weight: 200;
        font-size: 21px;
        line-height: 140%;
        text-align: center;
        text-transform: $capitalize;
        margin-bottom: 1rem;
      }

      &__price {
        color: $gray-extra-light;
        font-family: "Catamaran";
        font-weight: 400;
        font-size: 26px;
        line-height: 43px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        text-transform: $capitalize;
      }
    }
  }
}

// POPULAR DISHES SECTION

.popular-dishes-section {
  margin: 3rem auto;
}

.popular-dishes {
  border-radius: 3px;
  background-color: $gray-dark;
  border: 1px solid $gray-light;
  margin: 0rem auto;
  padding: 4rem 1rem 1rem 1rem;

  &__content {
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $white;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 3.5rem;

    &::after {
      content: "";
      display: block;
      border-top: 0.3rem solid $secondary-color-dark;
      width: 3rem;
      margin: 0 auto;
      -webkit-transform: translateY(1.5rem);
      transform: translateY(0.5rem);
    }
  }
}

// MEDIA QUERIES
@import "settings/_mq";
