*,
*::before,
*::after {
  @include universal;
}

body,
html {
  font-family: $catamaran;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  @include colorPattern($white, $black, unset);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
}

p,
span {
  font-family: $catamaran;
}

//  Removes input type number arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

//Removes AM/PM in input type data
input::-webkit-datetime-edit-ampm-field {
  display: none;
}

//  Default style for input placeholders
::placeholder {
  @include textStyle(22px, 400, transparet, $catamaran, 120%, 0.02em, none, none);
  display: flex;
  align-items: center;
}

// Content containers
.container {
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
  @include colorPattern($white, $black, unset);
}

// Stop page scrolling when modal or burger menu is open
.stop-scrolling {
  overflow: hidden;
}

//margin and padding classes
$spaceamounts: (1, 2, 3, 4, 5, 6, 7, 8);
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
}
