//  Reset styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
html {
  font-family: $lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  color: $white;
  background: $black;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
}

p,
span {
  font-family: $catamaran;
}

//  Removes input type number arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

//Removes AM/PM in input type data
input::-webkit-datetime-edit-ampm-field {
  display: none;
}

//  Default style for input placeholders
::placeholder {
  color: transparent;
  font-family: "Catamaran";
  font-size: 1rem;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}

.m-0 {
  margin: 0;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.p-0 {
  padding: 0;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

// Content containers
.container {
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: $black;
}

// Stop page scrolling when modal or burger menu is open
.stop-scrolling {
  overflow: hidden;
}
