::selection {
  background: $secondary-color-dark;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: $secondary-color-dark;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: $secondary-color-dark;
  color: #fff;
  text-shadow: none;
}
