// color
$primary-color: #404040;
$secondary-color-dark: #d14800;
$secondary-color-light: #ff4800;
$gray-extra-light: #909090;
$gray-light: #8d8d8d;
$gray-light-opacity: #8d8d8dc9;
$gray-medium: #a3a3a3;
$gray-medium-opacity: #5a585885;
$gray-dark: #181110;
$white-high-opacity: #ffffff33;
$white-medium-opacity: #ffffff1a;
$white: #ffffff;
$black-opacity :rgba(0, 0, 0, 0.8);
$black: #000000;

//opacity
$opacity: 0.8;

// border-radius
$border-radius: 3px;

// box-shadow
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
$box-shadow-dark: 0px 0px 20px rgba(0, 0, 0, 0.8);

// text shadow
$text-shadow-light: 0px 5px 8px rgba(0, 0, 0, 0.3);
$text-shadow-medium: 0px 2px 8px rgba(0, 0, 0, 0.4);

//text transform

$capitalize: capitalize;
